#background {
    width: 100vw;
    height: calc(100vw * 2.10);
    background-image: url('https://lh7-rt.googleusercontent.com/docsz/AD_4nXeoWrsJgubvmoxyny7irXhrUbAALrtesAlGYMNEhDi4fC8AWm5wNl5k8Y7yeWcu2X7bUCgY1xI_poZGsN5le7WsOpaYKuTEt2_gE08ixDVKWI3HJv7euQvzlPO01fkBIvgtDnW-sIhjoLZmZ4LSkPgaHqe1xo0?key=StArsw533vaWZ5VjDsu_1Q');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    cursor: pointer
}
@media (max-width:768px) and (orientation:portrait) {
    #background {
        background-image: url('../assets/images/vod-ka-bet-mobile.avif');
        width: calc(100vw + 40px);
        height: calc((100vw + 40px) * 2.11);
        margin-left: -20px;
        margin-right: -20px
    }
}

